.admin-message {
  width: 100%;
  &__content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2.4px 28px 0 rgba(58, 59, 69, 0.15);
    &__header {
      display: flex;
      justify-content: flex-end;
      padding: 12px 20px;
      box-sizing: border-box;
      background-color: #f8f9fc;
      border-bottom: 1px solid #e3e6f0;
      &__search {
        width: 300px;
        height: 35px;
        background-color: #fff;
        border: none;
        padding: 6px 12px;
        box-sizing: border-box;
        color: #6e707e;
        border-radius: 5px 0 0 5px;
      }
    }
    &__body {
      display: flex;
      &__trader-list {
        width: 50%;
        &__item {
          font-size: 17px;
          text-align: center;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &__img {
            width: 55px;
            height: 55px;
            margin-right: 20px;
          }
          &:hover {
            background-color: rgba(#4e73df, 0.4);
          }
        }
      }
      &__user-list {
        width: 50%;
        border-left: 1px solid #6e707e;
        &__item {
          font-size: 17px;
          text-align: center;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &__img {
            width: 55px;
            height: 55px;
            margin-right: 20px;
          }
          &:hover {
            background-color: rgba(78, 158, 223, 0.4);
          }
        }
      }
    }
  }
}
