ul {
  list-style: none;
}

.body {
  width: 100%;
  display: flex;

  &__content {
    margin-left: 220px;
    width: calc(100% - 220px);
    padding: 30px;
    padding-top: 110px;
    box-sizing: border-box;
    position: relative;
  }
}
.table__btn {
  cursor: pointer;
  width: 100px;
  height: 30px;
  color: #fff;
  border: none;
  border-radius: 7px;
  background-color: #4e73df;
  &__red {
    cursor: pointer;
    width: 100px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 7px;
    background-color: #e74a3b;
    margin: 0 auto;
    line-height: normal;
  }
}
