.view-trader-package-message-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
  width: 520px;
  min-height: 667px;
  z-index: 10;
  animation: fadeIn 0.4s;

  &__hide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  &__contents {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 6px;

    &__trader {
      padding: 20px;
      display: flex;
      align-items: center;
      &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: relative;
        & > img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      &__nickname {
        font-size: 17px;
        font-weight: 900;
        margin-left: 10px;
        color: #333;
      }
    }

    &__close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 20px;
      height: 20px;
    }

    &__texts {
      width: 100%;
      height: 488px;
      // border: 1px solid #0083db;
      background-color: #f3f8fe;
      overflow-y: auto;
      padding: 15px;
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #eceff1;
        border-radius: 5px;
      }
      &::-webkit-scrollbar-track {
        background-color: #90a4ae;
        border-radius: 5px;
      }
    }

    &__send {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px;
      &__wrap {
        position: relative;
        border-radius: 2px;
        background-color: #eceff1;
        padding: 15px 15px 30px;
        width: 100%;
        height: 68px;
      }

      &__text {
        width: 420px;
        background-color: transparent;
        height: auto;
        max-height: 68px;
        resize: none;
        border: none;
        font-size: 16px;
        line-height: 19px;
        color: #333;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &__btn {
        position: absolute;
        bottom: 13px;
        right: 15px;
        width: 26px;
        height: 22px;
        cursor: pointer;
      }
    }
  }
}
