.products-list {
  &__contents {
    &__lists {
      padding: 0;
      margin: 0;
      margin-top: 30px;
      list-style: none;

      > li {
        width: calc(25% - 37.5px);
        float: left;
        margin-bottom: 75px;
        margin-right: 50px;

        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }

    &__none {
      text-align: center;
      margin-top: 50px;
      padding: 100px;
      border-radius: 30px;
      border: 1px solid #eee;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
      background: #fff;

      &__title {
        font-size: 25px;
        font-weight: 900;
      }

      &__paragraph {
        font-size: 17px;
        font-weight: 700;
        margin-top: 15px;
      }

      &__button {
        position: relative;
        cursor: pointer;
        width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        background: #0083db;
        padding: 20px;
        color: #fff;
        border-radius: 1000px;
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
      }
    }

    &__more {
      margin-top: 100px;

      &__paragraph {
        font-size: 19px;
        font-weight: 700;
        margin-top: 15px;
        text-align: center;
      }

      &__button {
        position: relative;
        cursor: pointer;
        width: 400px;
        margin: 0 auto;
        margin-top: 30px;
        background: #0083db;
        padding: 20px;
        color: #fff;
        border-radius: 1000px;
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
