.registration {
  background: #f8fbff;

  &__contents {
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 30px;

    &__form {
      margin: 0 auto;
      max-width: 800px;
      padding: 100px 150px;
      background: #fff;
      border-radius: 30px;
      box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);

      &__title {
        font-size: 28px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 100px;
        color: #555;
      }

      &__notice {
        display: block;
        position: relative;
        margin-bottom: 12px;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 400;
        margin-top: 30px;
        font-family: "Noto Sans KR", serif, Arial;
        color: #555;
        padding: 15px;
        background: #f5f5f5;
        border-radius: 5px;
      }

      &__tip {
        position: relative;
        display: none;
        text-align: right;
        margin-top: 5px;
        font-size: 14px;
        font-family: "Noto Sans KR", serif, Arial;
        color: rgb(243, 33, 33);
        font-weight: 600;
        clear: both;

        &.active {
          display: block;
        }
      }

      input[type="email"],
      input[type="password"],
      input[type="tel"],
      input[type="text"] {
        width: 100%;
        padding: 20px;
        font-size: 17px;
        margin-top: 15px;
        border: none;
        border: 1px solid rgb(235, 235, 235);
        background: #fff;
        font-weight: 900;
        color: #000;
        border-radius: 15px;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);

        &::placeholder {
          color: rgb(117, 117, 117);
        }

        &.active {
          border: 1px solid rgb(243, 33, 33);
        }

        &.check {
          border: 1px solid #2196f3;
        }
      }

      &__nickname {
        &-input {
          width: calc(100% - 115px) !important;
          float: left;
        }

        &-button {
          font-family: "Noto Sans KR", serif, Arial;
          font-size: 14px;
          font-weight: 600;
          width: 100px;
          margin-top: 15px;
          margin-left: 15px;
          float: left;
          cursor: pointer;
          background: #0083db;
          padding: 23px 5px;
          color: #fff;
          border-radius: 15px;
          text-align: center;
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
        }
      }

      .container-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: 400;
        margin-top: 30px;
        font-family: "Noto Sans KR", serif, Arial;
        color: #555;
      }

      /* Hide the browser's default checkbox */
      .container-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      /* Create a custom checkbox */
      .container-checkbox .checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: rgb(201, 201, 201);
        border-radius: 5px;
      }

      /* On mouse-over, add a grey background color */
      .container-checkbox:hover input ~ .checkmark {
        background-color: #ccc;
      }

      /* When the checkbox is checked, add a blue background */
      .container-checkbox input:checked ~ .checkmark {
        background-color: #2196f3;
      }

      /* Create the checkmark/indicator (hidden when not checked) */
      .container-checkbox .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      /* Show the checkmark when checked */
      .container-checkbox input:checked ~ .checkmark:after {
        display: block;
      }

      /* Style the checkmark/indicator */
      .container-checkbox .checkmark:after {
        left: 9px;
        top: 4px;
        width: 8px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &__certificate {
        cursor: pointer;
        margin-top: 50px;
        width: 100%;
        background: rgb(158, 158, 158);
        padding: 20px;
        color: #fff;
        border-radius: 1000px;
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
      }

      &__submit {
        cursor: pointer;
        margin-top: 50px;
        width: 100%;
        background: #0083db;
        padding: 20px;
        color: #fff;
        border-radius: 1000px;
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
      }

      &__login {
        position: relative;
        display: table;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        font-size: 17px;
        font-weight: 700;

        &__text {
          span {
            padding-left: 30px;
            color: #0083db;
            font-weight: 900;
          }
        }
      }
    }
  }
}
