.home-board-investment-item {
  cursor: pointer;
  &__contents {
    &__title {
      width: 100%;
      font-size: 24px;
      font-weight: 700;
      color: #333;
      white-space: normal;
      overflow: hidden;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    &__thumbnail {
      margin-top: 20px;
      position: relative;
      border-radius: 6px;
      overflow: hidden;
      border: 1px solid #9e9e9e;
      width: 100%;
      height: 250px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__user {
      margin-top: 20px;
      display: flex;
      align-items: center;
      &__avatar {
        position: relative;
        float: left;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        border: 1px solid #9e9e9e;
        background-color: #f3f8fe;
        margin-right: 6px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: 50%;
        }
      }

      &__nickname {
        position: relative;
        font-size: 22px;
        width: calc(100% - 85px - 35px);
      }

      &__date {
        width: 85px;
        font-size: 14px;
        color: #9e9e9e;
      }
    }

    &__context {
      line-height: 1.4;
      height: 4.2em;
      white-space: normal;
      text-align: left;
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: 20px;
      font-size: 15px;
    }
  }
}
