.trader-status-settlement {
  position: relative;
  width: 100%;
  float: left;
  background: #fff;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #eee;
  padding: 30px;
  border-radius: 15px;
  margin-top: 30px;

  &__contents {
    &__title {
      font-size: 19px;
      font-weight: 900;
      color: #000;
    }

    &__button {
      position: absolute;
      padding: 0;
      margin: 0;
      list-style: none;
      right: 30px;
      top: 30px;

      li {
        font-family: "Noto Sans KR", serif, Arial;
        font-size: 12px;
        font-weight: 600;
        padding: 5px 15px 7px;
        background: rgb(0, 131, 219);
        color: rgb(255, 255, 255);
        border-radius: 1000px;
        float: left;
        margin-left: 15px;
      }
    }

    &__table {
      &__subject {
        padding: 0;
        margin: 0;
        margin-top: 30px;
        list-style: none;
        background: #f5f5f5;

        li {
          position: relative;
          font-family: "Noto Sans KR", serif, Arial;
          display: table-cell;
          font-size: 14px;
          font-weight: 400;
          color: rgb(145, 145, 145);
          vertical-align: middle;
          line-height: 1;
          padding: 10px;
          padding-bottom: 12px;
          float: left;
        }

        &__nickname {
          width: 150px;
        }

        &__email {
          width: calc(100% - 600px);
        }

        &__payment-price {
          width: 150px;
          text-align: center;
        }

        &__settlement-price {
          width: 150px;
          text-align: center;
        }

        &__payment-status {
          width: 150px;
          text-align: center;
        }
      }

      &__lists {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;

        li {
          float: left;
          width: 33.33%;
          border-right: 1px solid lightgray;

          &:last-child {
            border-right: none;
          }
        }
      }

      &__item {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    }

    &__paging {
      text-align: center;
      margin-top: 30px;

      span {
        padding: 10px 14px;
        font-weight: 700;
        font-size: 17px;
        border-radius: 100%;
        overflow: hidden;

        &.now {
          background: rgb(0, 131, 219);
          color: rgb(255, 255, 255);
        }
      }

      &__prev {
        color: rgb(0, 131, 219);
      }

      &__next {
        color: rgb(0, 131, 219);
      }
    }
  }
}
