.admin-board {
  width: 100%;
  &__content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2.4px 28px 0 rgba(58, 59, 69, 0.15);
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
      box-sizing: border-box;
      background-color: #f8f9fc;
      border-bottom: 1px solid #e3e6f0;
      &__title {
        font-weight: 700;
        display: flex;
        color: #333;
        &__item {
          margin-right: 10px;
          &:hover {
            cursor: pointer;
          }
        }
        &__item--click {
          color: #4e73df;
          margin-right: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      &__search {
        display: flex;
        &__input {
          width: 300px;
          height: 35px;
          background-color: #fff;
          border: none;
          padding: 6px 12px;
          box-sizing: border-box;
          color: #6e707e;
          border-radius: 5px 0 0 5px;
        }
      }
    }
    &__body {
      height: 700px;
      position: relative;
      &__none {
        padding: 50px 30px;
        font-size: 20px;
        color: #6e707e;
        font-weight: 900;
        text-align: center;
      }
      & .pagination {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

.board__table {
  width: 100%;
  border-collapse: collapse;
  &__head {
    text-align: center;
    &__tr {
      height: 40px;
      color: #fff;
      background-color: #4e73df;
      font-weight: 700;
    }
    td {
      cursor: pointer;
      vertical-align: middle;
    }
  }
  &__body {
    text-align: center;
    font-size: 15px;
    &__tr {
      height: 40px;
      border-top: 1px solid #eee;
      &:hover {
        background-color: rgba(#4e73df, 0.4);
        cursor: pointer;
      }
    }
    td {
      padding: 10px;
    }
  }
}
