.view-trader-review {
  margin-top: 120px;

  &__title {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceff1;
    line-height: normal;
    &__more {
      float: right;
      font-size: 18px;
      cursor: pointer;
    }
  }

  &__contents {
    &__list {
      display: flex;
      &__item {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    background: #fff;

    &__none {
      text-align: center;
      font-size: 24px;
      line-height: 27px;
      color: #333;
      margin-top: 110px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .view-trader-review {
    margin-top: 30px;

    &__title {
      font-size: 13px;
      color: #333;
      margin-bottom: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eceff1;
    }

    &__contents {
      .swiper-container {
        overflow: visible;
      }

      position: relative;
      background: #fff;

      &__button {
        position: absolute;
        padding: 0;
        margin: 0;
        list-style: none;
        right: 30px;
        top: 30px;

        li {
          font-family: "Noto Sans KR", serif, Arial;
          font-size: 12px;
          font-weight: 600;
          padding: 5px 15px 7px;
          background: rgb(0, 131, 219);
          color: rgb(255, 255, 255);
          border-radius: 1000px;
          float: left;
          margin-left: 15px;
        }
      }

      &__none {
        text-align: center;
        font-size: 24px;
        line-height: 27px;
        color: #333;
        margin-top: 110px;
      }
    }
  }
}
