// @import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");
@import url("https://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap");

// @font-face {
//   font-family: "NanumSquare";
//   font-weight: 400;
//   src: url("/assets/fonts/NanumSquareR.ttf") format("ttf");
// }
// @font-face {
//   font-family: "NanumSquare";
//   font-weight: 700;
//   src: url("/assets/fonts/NanumSquareB.ttf") format("ttf");
// }
// @font-face {
//   font-family: "NanumSquare";
//   font-weight: 800;
//   src: url("/assets/fonts/NanumSquareEB.ttf") format("ttf");
// }
// @font-face {
//   font-family: "NanumSquare";
//   font-weight: 300;
//   src: url("/assets/fonts/NanumSquareL.ttf") format("ttf");
// }
* {
  font-family: "Nanum Barun Gothic", serif, Arial, sans-serif;
  word-break: keep-all;
  line-height: 1.6em;
}

/* global box-sizing */

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  overflow-y: scroll;
}

body {
  min-width: 1400px;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0 auto;
  transition: opacity 1s;
  // height: 100%;
  height: auto;
  background: #fff;
}

/* clear */

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

pre {
  word-wrap: break-word;
  overflow: auto;
  white-space: pre-wrap;
}

p,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
pre {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #000;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

input:focus {
  outline: 0;
}

.parents {
  position: relative;
  width: 100%;
  overflow: hidden;
}

*:focus {
  outline: none;
}

input::placeholder {
  color: #eceff1;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #3390ff;
  color: #232323;
}

.background-image {
  background-size: cover;
  background-position: center center;
}

.text-up {
  position: relative;
  animation-duration: 1.2s;
  animation-name: textUp;
  animation-timing-function: ease;
}

@keyframes textUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.zoom-in {
  position: relative;
  animation-duration: 1.2s;
  animation-name: zoomIn;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes shake {
  0% {
    transform: translateY(-2px) translateX(-1px) rotate(2deg);
  }
  50% {
    transform: translateY(1px) translateX(0px) rotate(-1deg);
  }
  100% {
    transform: translateY(-2px) translateX(-1px) rotate(2deg);
  }
}

.sun-edioter * {
  font-family: "Noto Sans KR", serif, Arial;
}

.sun-editor {
  .se-btn-select {
    padding: 7px 6px !important;
  }

  .se-wrapper-wysiwyg {
    h1 {
      font-family: "Noto Sans KR", serif, Arial;
      font-size: 24px;
      font-weight: 900;
    }
    h2 {
      font-family: "Noto Sans KR", serif, Arial;
      font-size: 21px;
      font-weight: 900;
    }
    h3 {
      font-family: "Noto Sans KR", serif, Arial;
      font-size: 19px;
      font-weight: 900;
    }

    p,
    span,
    div {
      font-family: "Noto Sans KR", serif, Arial;
      font-size: 17px;
    }
  }

  .se-dialog .se-dialog-inner .se-dialog-content {
    margin-top: 100px !important;
  }
}

#Document {
  position: relative;
  opacity: 1;
  transition: opacity 0.2s;
  margin: 0 auto;
  z-index: 1;
  transition: opacity 0.2s;
}

#Document.fade {
  opacity: 0;
}

#Document.layout1 {
  margin-top: 100px;
}

input[type="password"] {
  font-family: "Noto Sans KR", serif, Arial;
}

input[type="password"]::placeholder {
  font-family: "NanumSquare", serif, Arial;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 360px;
    width: 100%;
  }
  #Document.layout1 {
    margin-top: 76px;
  }
}
