.home-board {
  &__contents {
    max-width: 1400px;
    margin: 0 auto;
    padding: 150px 30px;
  }
}

@media only screen and (max-width: 767px) {
  .home-board {
    min-width: 360px;
    // height: 408px;
    &__contents {
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
      padding: 0px;
    }
  }
}
